PORT=
STEAM_USERNAME=
STEAM_PASSWORD=
STEAM_SHARED_SECRET=
STEAM_IDENTITY_SECRET=
STEAM_API_KEY=
STEAM_MAIN_ACCOUNT=
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=
UPTIMEKUMA_URL=
UPTIMEKUMA_KEY=
PROMETHEUS_PREFIX=

# Comma-separated App IDs (e.g. 123,456,789). Leave empty if not needed.
SALE_MARKET_FEE_APP_ID_GIVE=
SALE_MARKET_FEE_APP_ID_GET=
DO_NOT_GIVE_HARD=
DO_NOT_GET_HARD=
DO_NOT_GIVE_SOFT=
DO_NOT_GET_SOFT=
IGNORE_MESSAGES_FROM=
