{
  "username": "",
  "password": "",
  "shared_secret": "",
  "identity_secret": "",
  "sale_market_fee_app_id_give": "",
  "sale_market_fee_app_id_get": [
    ""
  ],
  "do_not_give_hard": [
      ""
    ],
    "do_not_get_hard": [
      ""
    ],
    "do_not_give_soft": [
      ""
    ],
    "do_not_get_soft": [
      ""
    ]
}
